<!DOCTYPE html>
<!-- Developed By: Virinchi Balabhadrapatruni
	 Date:  2/1/2015
	 UMass Lowell, GUI II
-->

{% extends "polls/base.html" %}

<!-- This will be inserted into base.html. -->
{% block content %}
	<div class="jumbotron">
		<h1>About</h1>

	{% load staticfiles %}
	<img src= "{% static 'polls/img/ana.jpg' %}"
					class="img-rounded img-responsive" alt="Team Picture">
	<div id="aboutTeam">
		<h2>Team Members:</h2>
		<div class="panel-group" id="accordion" role="tablist"
			aria-multiselectable="true">
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="headingOne">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion"
							href="#collapseOne" aria-expanded="true"
							aria-controls="collapseOne"> Ana Arribasplata </a>
					</h4>
				</div>
				<div id="collapseOne" class="panel-collapse collapse in"
					role="tabpanel" aria-labelledby="headingOne">
					<div class="panel-body">This is text about Ana</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="headingTwo">
					<h4 class="panel-title">
						<a class="collapsed" data-toggle="collapse"
							data-parent="#accordion" href="#collapseTwo"
							aria-expanded="false" aria-controls="collapseTwo"> Virinchi
							Balabhadrapatruni </a>
					</h4>
				</div>
				<div id="collapseTwo" class="panel-collapse collapse"
					role="tabpanel" aria-labelledby="headingTwo">
					<div class="panel-body">This is text about Virinchi</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="headingThree">
					<h4 class="panel-title">
						<a class="collapsed" data-toggle="collapse"
							data-parent="#accordion" href="#collapseThree"
							aria-expanded="false" aria-controls="collapseThree"> Bobby
							Donald </a>
					</h4>
				</div>
				<div id="collapseThree" class="panel-collapse collapse"
					role="tabpanel" aria-labelledby="headingThree">
					<div class="panel-body">This is text about Bobby</div>
				</div>
			</div>
		</div>
	</div>
	<div id="aboutPollPortal">
		<h2>About Poll Portal:</h2>
		<p>This is text about Poll Portal.</p>
	</div>
</div>


{% endblock %}


