<!DOCTYPE html>
<!-- Developed By: Virinchi Balabhadrapatruni
	 Date:  2/12/2015
	 UMass Lowell, GUI II
-->

{% extends "polls/base.html" %}

{% block content %}
  <div class="jumbotron">
    <h1>Create New Topic</h1>
    <form method="post" action="/create_topic/">
    	{% csrf_token %} {% if form.errors %} {% for field in form %}
    	<div class="alert alert-danger">
    		<button type="button" class="close" data-dismiss="alert">×</button>
    		<span class="glyphicon glyphicon-exclamation-sign"
    			aria-hidden="true"></span> <span class="sr-only">Error:</span>
    		{% if field.errors %}
    			<span>{{ field.label }}: {{ field.errors|striptags }}</span>
    		{% endif %}

    	</div>
      	{% endfor %} {% endif %}

      	{% for field in form %}
      		<p class="fieldWrapper">
        			{{ field.label_tag }}: {{ field }}
      			</p>
      	{% endfor %}
      	<p>
      		<input type="submit" value="Create">
      	</p>

      </form>
    </div>
  </div>

{% endblock %}
