<!DOCTYPE html>
<!-- Developed By: Virinchi Balabhadrapatruni
	 Date:  2/10/2015
	 UMass Lowell, GUI II
-->

{% extends "polls/base.html" %}

{% block content %}

  <div class="jumbotron">
    <h1>My Account</h1>
    <!-- tabs left -->
    <div class="tabbable tabs-left">
    	<ul class="nav nav-tabs">
    		<li><a href="#a" data-toggle="tab">My Topics</a></li>
    		<li class="active"><a href="#b" data-toggle="tab">My
    				Account</a></li>
    	</ul>
    	<div class="tab-content">
    		<div class="tab-pane" id="a">
    			<form id="createFrm" method="LINK" action="/create_topic/">
    				<input type="submit" value="Create New Topic">
    			</form>
    			<table>
    				<tr>
    					<th>Topic</th>
    					<th>Date created</th>
    					<th class="change">Actions</th>
    				</tr>
    				{% for q in questions %}
    				<tr>
    					<td class="change"><a href="/{{ q.category.id }}/{{ q.id }}">{{ q.question_text }}</a></td>
    					<td>{{ q.pub_date }}</td>
    					<td>
    						<div class="dropdown">
    							<button class="btn btn-default dropdown-toggle" type="button"
    								id="dropdownMenu1" data-toggle="dropdown"
    								aria-expanded="true">
    								Actions <span class="caret"></span>
    							</button>
    							<ul class="dropdown-menu" role="menu"
    								aria-labelledby="dropdownMenu1">
    								<li role="presentation"><a role="menuitem" tabindex="-1"
    									href="/myAccount/freeze_voting/{{q.id}}">Freeze Voting</a></li>
    								<li role="presentation"><a role="menuitem" tabindex="-1"
    									href='/myAccount/delete_topic/{{q.id}}'>Delete Topic</a></li>
    								<li role="presentation"><a role="menuitem" tabindex="-1"
    									href="#">Generate PDF Summary (IN BETA)</a></li>
    							</ul>
    						</div>
    					</td>
    				</tr>
  				{% endfor %}
  			</table>
  		</div>
  		<div class="tab-pane active" id="b">
  			<table>
  				<tr>
  					<th>Name:</th>
  					<td>{{ user.get_full_name }}</td>
  					<td class="change"></td>

  				</tr>
  				<tr>
  					<th>Username:</th>
  					<td>{{ user.username }}</td>
  					<td class="change"></td>

  				</tr>
  				<tr>
  					<th>Email Address:</th>
  					<td>{{ user.email }}</td>
  					<td class="change"></td>

  				</tr>
  				<tr>
  					<th>Password:</th>
  					<td>&#x25CF;&#x25CF;&#x25CF;&#x25CF;&#x25CF;&#x25CF;&#x25CF;</td>
  					<td class="change">
  						<form method="LINK" action="/myAccount/password_change/">
  							<input type="submit" value="Change Password">
  						</form>
  					</td>
  				</tr>
  				<tr>
  					<th>Date Joined:</th>
  					<td>{{ user.date_joined }}</td>
  					<td class="change"></td>

  				</tr>
  			</table>

  		</div>
  	</div>
  </div>
  {% endblock %}
