<!-- Developed By: Virinchi Balabhadrapatruni
	 Date:  1/30/2015
	 UMass Lowell, GUI II
-->

{% extends "polls/base.html" %}

<!-- Scripts that will be inserted to base.html -->

{% block scripts %}
<!--  Load the pie chart using highcharts -->
<script>
  	function SecondIndexOf(Val, Str) {
  		var Fst = Str.indexOf(Val);
  		var Snd = Str.indexOf(Val, Fst + 1)
  		return Snd
  	}
  	$(function() {
  		var options = {
  			chart : {
  				plotBackgroundColor : null,
  				plotBorderWidth : null,
  				plotShadow : false,

  			},
  			title : {
  				text : null
  			},
  			tooltip : {
  				pointFormat : '{point.y} votes, {point.percentage:.1f}%'
  			},
  			exporting : {
  				enabled : false
  			},
  			credits: {
  			    enabled: false
  			},
  			plotOptions : {
  				pie : {
  					allowPointSelect : true,
  					cursor : 'pointer',
  					dataLabels : {
  						enabled : false
  					}
  				},
  				series : {
  					point : {
  						events : {
  							click : function() {
  								// prepare the div for viewing first

  							}
  						}
  					}
  				}
  			},
  			series : [ {} ]
  		};
  		var req_url = document.location.origin;
  		req_url = req_url + "/get_chart/";
  		console.log({{ category }});
  		var current = document.location.pathname
  		current = current.substring(1);
  		while (current.indexOf('/') != 0) {
  			current = current.substring(1);
  		}
  		current = current.substring(1);
  		current = current.substring(0, current.indexOf('/'));
  		var input = document.getElementById("qid");
  		input.setAttribute("value", current);
  		req_url = req_url + current;
  		$.getJSON(req_url, function(data) {
  			options.title.text = data['poll'][0]['question_text'];
  			options.series[0].type = 'pie';
  			var choices = data['choices'];
  			var total = 0;
  			var dat = [];

  			for (var i=0; i<choices.length; i++) {
  				var r = JSON.parse(choices[i]);
  				var text = r[0]['fields']['choice_text'];
  				var votes = r[0]['fields']['votes'];
  				var row = [text, parseInt(votes)];
  				dat.push(row);
  				total += parseInt(votes);
  			}
  			options.series[0].data = dat;
  			var chart = $('#myChart').highcharts(options);
  		});

  	});
  </script>
<script>
$(function () {
	var options = {
  			chart : {
  				plotBackgroundColor : null,
  				plotBorderWidth : null,
  				plotShadow : false,

  			},
  			rangeSelector : {
  				enabled:true,
                selected : 1
            },
  			scrollBar:{
                enabled:true
            },
  			title : {
  				text : 'Timeline of Votes'
  			},

  	        tooltip: {
  	            shared: true,
  	            useHTML: true
  	        },
  			exporting : {
  				enabled : false
  			},
  			credits: {
  			    enabled: false
  			},
  			series: []
  		};
  		var req_url = document.location.origin;
  		req_url = req_url + "/get_timeline/";
  		console.log({{ category }});
      console.log(req_url);
      console.log("here");
  		var current = document.location.pathname
  		current = current.substring(1);
  		while (current.indexOf('/') != 0) {
  			current = current.substring(1);
  		}
  		current = current.substring(1);
  		current = current.substring(0, current.indexOf('/'));
  		req_url = req_url + current;
  		$.getJSON(req_url, function(data) {
  			console.log("Bla");
  			console.log(data);
  			var votes = data['votes'];
  			for (var i = 0 ; i < votes.length ; i++) {
  				var vote = votes[i];
  				var choice = JSON.parse(vote['choice']);
  				var dat = vote['count_list'];
  				console.log(dat);
  				for (var j = 0 ; j < dat.length ; j++) {
  					dat[j][0] =  dat[j][0] * 1000;
  				}
  				var s = {
  					name: choice[0]['fields']['choice_text'],
  					data: dat
  				};
  				options.series.push(s);
  			}
  			$('#myTimeline').highcharts('StockChart', options);
  		});

  	});
</script>
<script>
$(".modal-wide").on("show.bs.modal", function() {
	  var height = $(window).height() - 200;
	  $(this).find(".modal-body").css("max-height", height);
	});
	
</script>
{% endblock %}



<!-- Content to be inserted into body of base.html -->
{% block content %}
{% load humanize %}
{% load static from staticfiles %}
<div ng-controller="AppCtrl" class="sample" layout="column">
    <md-tabs md-selected="selectedIndex"  md-stretch-tabs="auto">
      <md-tab id="tab1" md-on-select="reload(tab)">
        <md-tab-label>View Votes</md-tab-label>
        <md-tab-template>

          <div id="customcontrol">
              <h1 id="poll-text">{{ poll.poll_text }}</h1>
              <div id="control">
              {% if user.is_authenticated %}
                {% if voted == 0 %}
                <div id="form">
                  <md-button id="btnVote" class="md-raised md-button" data-toggle="modal"
                    data-target="#myModal">Vote Now!</md-button>
                </div>
                {% else %}
                  <div id="form">
                    <md-button id="btnVote" class="md-raised" style="background: #4CAF50" data-toggle="modal"
                      data-target="#myModal">Voted</md-button>
                  </div>
                {% endif %}
              {% else %}
                <form id="form" method="LINK" action="/login/">
                  <md-button id="btnVote" type="submit" class="md-raised md-button">Vote Now!</md-button>
                </form>
              {% endif %}
              </br>
              <div id="myChart" style="width: 100%"></div>

            <md-button class="md-primary" ng-click="showGridBottomSheet($event)">
      			<span class="glyphicon glyphicon-share" aria-hidden="true"></span> Share
    		</md-button>

              <div id="form">
                <md-button id="btnTimeline" class="md-raised md-button" data-toggle="modal" data-target="#myModal2">Timeline of Votes</md-button>
              </div>
              </br>
              <form id="form" method="LINK" action="/view_pdf_summary/{{poll.id}}">
                <md-button id="btnVote" type="submit" class="md-raised md-button">PDF Report</md-button>
              </form>
              </br>
              </br>
          </div>
        </div>


        </md-tab-template>
      </md-tab>

      {% for c in choices %}
      <md-tab id="#{{ c.choice.id }}" ng-disabled="data.secondLocked">
        <md-tab-label>Comments: {{ c.choice.choice_text }}</md-tab-label>
        <md-tab-template>
          {% if not c.comments %}

        <div class="well comment">
          <p> No comments. </p>
        </div>
        {% else %}

        {% for co in c.comments %}
        <div class="well comment">
        {% if user == co.comment.user %}
          <form id="delete-comment" method="GET" action="/delete_comment/{{ poll.category.id }}/{{ poll.id }}/{{ co.comment.id }}">
            <button type="submit" class="close"
            aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </form>
        {% endif %}
          <div class="user-div">
            <div class="prof-thumbnail img-thumbnail">
              {% if co.userProfile.avatar %}
              <a href="{{ co.userProfile.avatar.url }}" class=".thumbnail">
                <img src="{{ co.userProfile.avatar.url }}"
                alt="{{ co.comment.user.username }}'s profile picture"
                class="img profile-pic">
              </a>
              {% else %}
			<a href="" class=".thumbnail">
				<img
				src= "{% static 'polls/img/default_profile.jpg' %}"
				alt="{{ co.comment.user.username }}'s profile picture"
				class="img profile-pic">
			</a>
			{% endif %}
            </div>
            <p class=username><a href="/user/{{ co.comment.user.id }}/">{{ co.comment.user.username }}</a></p>
            <p class="pub-date">{{ co.comment.pub_date|naturaltime|capfirst }}</p>
          </div>
          <div class="comment-content">
            {% autoescape off %}{{ co.comment.comment_text }}{% endautoescape %}
          </div>
          {% if user.is_authenticated %}
          {% if co.likedByUser == 0 %}
          <form id="like_comment" method="GET" action="/like_comment/{{ poll.category.id }}/{{ poll.id }}/{{ co.comment.id }}">
            <md-button type="submit" class="md-primary">
              <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Like
            </md-button>
          </form>
          {% else %}
          <form id="like_comment" method="GET" action="/unlike_comment/{{ poll.category.id }}/{{ poll.id }}/{{ co.comment.id }}">
            <md-button type="submit" class="md-primary">
              <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Unlike
            </md-button>
          </form>
          {% endif %}
          {% endif %}
          {% if co.comment.likes == 0 %}
          <p>No one liked this comment.</p>
          {% elif co.comment.likes == 1 and co.likedByUser == 1 %}
          <p>You liked this comment.</p>
          {% elif co.comment.likes > 1 and co.likedByUser == 1 %}
          <p>You and {{ co.comment.likes|add:'-1' }} other people liked this comment.</p>
          {% elif co.comment.likes == 1 %}
          <p>1 person liked this comment.</p>
          {% else %}
          <p>{{ co.comment.likes }} people liked this comment.</p>
          {% endif %}
        </div>
        {% endfor %}

        {% endif %}

        <!-- If user voted for this choice let them comment under it.  -->
        <!-- ckeditor -->

        {% if voted == 1 and c.votedFor == 1  %}
          <form id="commentform" action="/new_comment/" method="POST">
            {% csrf_token %}<input id="qid" type="hidden" name="qid" value="{{ poll.id }}">
            <div id="textarea">
              <label for="mycomment">New Comment:</label>
              <textarea name="mycomment" id="editor1" rows="10" cols="80"></textarea>
              <script>
                // Replace the <textarea id="editor1"> with a CKEditor
                // instance, using default configuration.
                jQuery(document).ready(function() {
                  if (CKEDITOR.instances['editor1'])
                    CKEDITOR.instances['editor1'].destroy();
                  CKEDITOR.replace("editor1")
                  CKEDITOR.config.enterMode = CKEDITOR.ENTER_DIV;
                 });
              </script>
            </div>
            <div id="submit">
              <md-button class="md-raised md-primary" type="submit"
                style="float:right; margin-top: 10px;">Post Comment</md-button>
            </div>
          </form>
        {% endif %}

        </md-tab-template>
      </md-tab>
      {% endfor %}
      </md-tabs>
    </div>

<!-- Modal Dialog for voting-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Vote Now!</h4>
			</div>
			<div class="modal-body">
				{% if voted == 0 %}
				<form action="/vote/" method="POST">
				{% csrf_token %} <input id="qid" type="hidden" name="qid" value="{{ poll.id }}">
					{% for c in choices %}
					{% if c.votedFor == 0 %}
					<input type="radio" name="cid"
						id="{{ c.choice.id }}" value="{{ c.choice.id }}"> <label
						for="{{ c.choice.id }}">{{ c.choice.choice_text }}</label> <br>
					{% else %}
					<input type="radio" name="cid"
						id="{{ c.choice.id }}" value="{{ c.choice.id }}" checked> <label
						for="{{ c.choice.id }}">{{ c.choice.choice_text }}</label> <br>
					{% endif %}
					{% endfor %}
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal"
							value="Close"> <input type="submit" value="Vote"
							class="btn btn-primary" />
					</div>
				</form>
				{% else %}
				<form action="/change_vote/" method="POST">
					{% csrf_token %} <input id="qid" type="hidden" name="qid" value="{{ poll.id }}">
					{% for c in choices %}
					{% if c.votedFor == 0 %}
					<input type="radio" name="cid"
						id="{{ c.choice.id }}" value="{{ c.choice.id }}"> <label
						for="{{ c.choice.id }}">{{ c.choice.choice_text }}</label> <br>
					{% else %}
					<input type="radio" name="cid"
						id="{{ c.choice.id }}" value="{{ c.choice.id }}" checked> <label
						for="{{ c.choice.id }}">{{ c.choice.choice_text }}</label> <br>
					{% endif %}
					{% endfor %}
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal"
							value="Close"> <input type="submit" value="Vote"
							class="btn btn-primary" />
					</div>
				</form>
				<form action="/delete_vote/" method="POST">
					{% csrf_token %} <input id="qid" type="hidden" name="qid" value="{{ poll.id }}">
					{% for c in choices %}
					{% if c.votedFor == 1 %}
					<input type="hidden" name="cid"
						id="{{ c.choice.id }}" value="{{ c.choice.id }}">
					{% endif %}
					{% endfor %}
					<input type="submit" value="Delete Vote"
							class="btn btn-danger" />
				</form>
				{% endif %}
			</div>
		</div>
	</div>
</div>

<!-- Modal Dialog for voting-->
<div class="modal modal-wide fade" id="myModal2" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Timeline of Votes</h4>
			</div>
			<div class="modal-body">
				<div id="myTimeline" style="display: inline;"></div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
