<!-- Developed By: Virinchi Balabhadrapatruni
	 Date:  1/30/2015
	 UMass Lowell, GUI II
-->

{% extends "polls/base.html" %}

<!-- Scripts that will be inserted to base.html -->

{% block scripts %}
<!--  Load the pie chart using highcharts -->
<script>

  	function SecondIndexOf(Val, Str) {
  		var Fst = Str.indexOf(Val);
  		var Snd = Str.indexOf(Val, Fst + 1)
  		return Snd
  	}
  	$(function() {
  		var options = {
  			chart : {
  				plotBackgroundColor : null,
  				plotBorderWidth : null,
  				plotShadow : false,

  			},
  			title : {
  				text : null
  			},
  			tooltip : {
  				pointFormat : '{point.percentage:.1f}%'
  			},
  			exporting : {
  				enabled : false
  			},
  			credits: {
  			    enabled: false
  			},
  			plotOptions : {
  				pie : {
  					allowPointSelect : true,
  					cursor : 'pointer',
  					dataLabels : {
  						enabled : false
  					}
  				},
  				series : {
  					point : {
  						events : {
  							click : function() {
  								// prepare the div for viewing first

  							}
  						}
  					}
  				}
  			},
  			series : [ {} ]
  		};
  		var req_url = document.location.origin;
  		req_url = req_url + "/get_chart/";
  		console.log({{ category }});
  		var current = document.location.pathname
  		current = current.substring(1);
  		while (current.indexOf('/') != 0) {
  			current = current.substring(1);
  		}
  		current = current.substring(1);
  		current = current.substring(0, current.indexOf('/'));
  		var input = document.getElementById("qid");
  		input.setAttribute("value", current);
  		req_url = req_url + current;
  		$.getJSON(req_url, function(data) {
  			console.log('Got data');
  			options.title.text = data['poll'][0]['question_text'];
  			options.series[0].type = 'pie';
  			var choices = data['choices'];
  			var total = 0;
  			var dat = [];

  			for (var i=0; i<choices.length; i++) {
  				console.log('Hello');
  				var r = JSON.parse(choices[i]);
  				var text = r[0]['fields']['choice_text'];
  				var votes = r[0]['fields']['votes'];
  				var row = [text, parseInt(votes)];
  				dat.push(row);
  				total += parseInt(votes);
  			}
  			console.log(dat);
  			options.series[0].data = dat;
  			$('#myChart').highcharts(options);
  		});

  	});
  </script>
{% endblock %}



<!-- Content to be inserted into body of base.html -->
{% block content %}
{% load humanize %}
<!-- /.container-fluid -->
<div>
		<div id="customcontrol">
			<h1 id="poll-text">{{ poll.poll_text }}</h1>
			<div id="control">
				<div id="form">
					<button id="btnVote" class="btn btn-default" data-toggle="modal"
						data-target="#myModal">Vote Now!</button>
				</div>
				<div id="myChart" style="width: 100%;"></div>

			</div>

			<div id="comments">
							<div role="tabpanel">

			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
				{% for c in choices %}
				{% if c.votedFor == 1 %}
				<li role="presentation" class="active"><a href="#{{ c.choice.choice_text }}"
					aria-controls="{{ c.choice.choice_text }}" role="tab"
					data-toggle="tab">{{ c.choice.choice_text }}</a></li>
				{% else %}
				<li role="presentation"><a href="#{{ c.choice.choice_text }}"
					aria-controls="{{ c.choice.choice_text }}" role="tab"
					data-toggle="tab">{{ c.choice.choice_text }}</a></li>
				{% endif %}
				{% endfor %}
			</ul>

			<!-- Tab panes -->
			<div class="tab-content" id="comment-tabs">
				{% for c in choices %}
				{% if c.votedFor == 1 %}
				<div role="tabpanel" class="tab-pane fade in active"
					id="{{ c.choice.choice_text }}">
				{% else %}
				<div role="tabpanel" class="tab-pane fade"
					id="{{ c.choice.choice_text }}">
				{% endif %}
					{% for co in c.comments %}
					<div class="well comment">
						<form id="delete-comment" method="GET" action="/delete_comment/{{ poll.category.id }}/{{ poll.id }}/{{ co.comment.id }}">
							<button type="submit" class="close"
							aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</form>
						<div class="user-div">
							<div class="thumbnail">
								<img src="http://3.bp.blogspot.com/-yz5oMnsU_-8/TyTWKKjbNII/AAAAAAAABXE/envZTLLj5GM/s1600/sad.jpg" alt="{{ co.comment.user.username }}'s profile picture" class="img profile-pic">
							</div>
							<p class=username>{{ co.comment.user.username }}</p>
							<p class="pub-date">{{ co.comment.pub_date|naturaltime|capfirst }}</p>
						</div>
						<div class="comment-content">
							{% autoescape off %}{{ co.comment.comment_text }}{% endautoescape %}
						</div>
						{% if co.likedByUser == 0 %}
						<form id="like_comment" method="GET" action="/like_comment/{{ poll.category.id }}/{{ poll.id }}/{{ co.comment.id }}">
							<button type="submit" class="btn btn-default">
								<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Like
							</button>
						</form>
						{% else %}
						<form id="like_comment" method="GET" action="/unlike_comment/{{ poll.category.id }}/{{ poll.id }}/{{ co.comment.id }}">
							<button type="submit" class="btn btn-default">
								<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Unlike
							</button>
						</form>
						{% endif %}
						{% if co.comment.likes == 0 %}
						<p>No one liked this comment.</p>
						{% elif co.comment.likes == 1 and co.likedByUser == 1 %}
						<p>You liked this comment.</p>
						{% elif co.comment.likes > 1 and co.likedByUser == 1 %}
						<p>You and {{ co.comment.likes|add:'-1' }} other people liked this comment.</p>
						{% else %}
						<p>{{ co.comment.likes }} people liked this comment.</p>
						{% endif %}
					</div>
					{% endfor %}
					
				</div>
				{% endfor %}
			</div>

		</div>
				{% if voted == 1 %}
				<form id="commentform" action="/new_comment/" method="POST">
					{% csrf_token %}<input id="qid" type="hidden" name="qid" value="{{ poll.id }}">
					<div id="textarea">
						<label for="mycomment">New Comment:</label>
						<textarea name="mycomment" id="editor1" rows="10" cols="80">
            </textarea>
						<script>
                // Replace the <textarea id="editor1"> with a CKEditor
                // instance, using default configuration.
                CKEDITOR.replace( 'editor1' );
            	CKEDITOR.config.enterMode = CKEDITOR.ENTER_DIV;
            </script>
					</div>
					<div id="submit">
						<input type="submit" value="Post comment"
							class="btn btn-primary" style="float:right; margin-top: 10px;"/>
					</div>
				</form>
				{% endif %}
			</div>
		</div>
</div>

<!-- Modal Dialog for voting-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Vote Now!</h4>
			</div>
			<div class="modal-body">
				{% if voted == 0 %}
				<form action="/vote/" method="POST">
				{% else %}
				<form action="/change_vote/" method="POST">
				{% endif %}
					{% csrf_token %} <input id="qid" type="hidden" name="qid" value="{{ poll.id }}">
					{% for c in choices %} 
					{% if c.votedFor == 0 %}
					<input type="radio" name="cid"
						id="{{ c.choice.id }}" value="{{ c.choice.id }}"> <label
						for="{{ c.choice.id }}">{{ c.choice.choice_text }}</label> <br>
					{% else %}
					<input type="radio" name="cid"
						id="{{ c.choice.id }}" value="{{ c.choice.id }}" checked> <label
						for="{{ c.choice.id }}">{{ c.choice.choice_text }}</label> <br>
					{% endif %}
					{% endfor %}
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal"
							value="Close"> <input type="submit" value="Vote"
							class="btn btn-primary" />
					</div>
				</form>
			</div>


		</div>
	</div>
</div>
{% endblock %}
