<!DOCTYPE html>
<!-- Developed By: Ana Arribasplata
     Date:  2/20/2015
     UMass Lowell, GUI II
  -->
{% extends "polls/base.html" %}

{% block scripts %}
<link rel="stylesheet" href="bootstrap.vertical-tabs.css">
{% endblock %}

<!-- This block of content will be inserted into base.html. -->
{% block content %}
<div class="jumbotron">
  <h1>Select a Poll</h1>
  <div class="row">

    <!-- Each tab -->
    <div id="content">
      <ul id="tabs" class="nav nav-pills" data-tabs="tabs">
        <!-- get all categories from database -->
		    {% for category in category_list %}
	        <li><a href="#{{ category.category_text }}"
	         data-toggle="tab">{{ category.category_text }}</a></li>
		    {% endfor %}
      </ul>


  	  <div class="tab-content">
        <!-- fill each category with questions that are in that category -->
        <div class="tab-pane fade active" id="Politics">
            {% for poll in politics_list %}
              <div>
                <a href="/{{poll.category.id}}/{{poll.id}}">{{ poll.poll_text }}</a> </br>
                <p>User: {{ poll.user }}</p>
              </div>
            {% endfor %}
        </div>
        <div class="tab-pane fade active" id="Fashion">
            {% for poll in fashion_list %}
              <div>
                <a href="/{{poll.category.id}}/{{poll.id}}">{{ poll.poll_text }}</a> </br>
                <p>User: {{ poll.user }}</p>
              </div>
            {% endfor %}
        </div>
        <div class="tab-pane fade active" id="Science">
            {% for poll in science_list %}
            	<div>
                <a href="/{{poll.category.id}}/{{poll.id}}">{{ poll.poll_text }}</a> </br>
                <p>User: {{ poll.user }}</p>
              <div/>
            {% endfor %}
        </div>
        <div class="tab-pane fade active" id="Technology">
            {% for poll in technology_list %}
              <div>
                <a href="/{{poll.category.id}}/{{poll.id}}">{{ poll.poll_text }}</a></br>
                <p>User: {{ poll.user }}</p>
              </div>
            {% endfor %}
        </div>
        <div class="tab-pane fade active" id="Literature">
            {% for poll in literature_list %}
              <div>
                <a href="/{{poll.category.id}}/{{poll.id}}">{{ poll.poll_text }}</a></br>
                <p>User: {{ poll.user }}</p>
              </div>
            {% endfor %}
        </div>
        <div class="tab-pane fade active" id="Languages">
            {% for poll in literature_list %}
              <div>
                <a href="/{{poll.category.id}}/{{poll.id}}">{{ poll.poll_text }}</a></br>
                <p>User: {{ poll.user }}</p>
              </div>
            {% endfor %}
        </div>
      </div>
  </div>
</div>
{% endblock %}

