<!DOCTYPE html>
<!-- Developed By: Ana Arribasplata
     Date:  2/20/2015
     UMass Lowell, GUI II
  -->
{% extends "polls/base.html" %}

{% block scripts %}
<link rel="stylesheet" href="bootstrap.vertical-tabs.css">
{% endblock %}

<!-- This block of content will be inserted into base.html. -->
{% block content %}
<div class="jumbotron">
  <h1>Select a Topic</h1>
  <div class="row">
    <div class="col-xs-6 col-sm-3">
      <ul class="nav nav-pills nav-stacked">
        <!-- get all categories from database -->
		    {% for category in category_list %}
	        <li><a href="#{{ category.category_text }}"
	         data-toggle="tab">{{ category.category_text }}<a></li>
		    {% endfor %}
      </ul>
    </div>
    <div class="col-lg-9 col-lg-9">
	 <div class="tab-content">
    <!-- fill each category with questions that are in that category -->
	 	{% for category in category_list %}
	   <div class="tab-pane fade active" id="{{ category.category_text }}">
      <ul>
        {% for poll in politics_list %}
  	      <li><a href="/{{category.id}}/{{poll.id}}">{{ poll.poll_text }}</a>
              <a>User: {{ poll.user }}</a>
          </li>
        {% endfor %}
      </ul>
	   </div>
		{% endfor %}
	 </div>
  </div>
</div>
{% endblock %}

