<!DOCTYPE html>
<!-- Developed By: Virinchi Balabhadrapatruni
	 Date:  2/4/2015
	 UMass Lowell, GUI II
-->

{% extends "polls/base.html" %}

<!-- This block of content will be inserted into base.html. -->
{% block content %}
	<div class="jumbotron">
		<h1>Select a Topic</h1>
		<div role="tabpanel">

			<!--
				In the final version of this page, the tabs must be created dynamically.
				The below tabs are just a placeholder.
			 -->
			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist" id="cat_tab_outer">
			</ul>

			<!-- Tab panes -->
			<div class="tab-content" id="cat_tab_content"></div>

			</div>
		</div>
	</div>
{% endblock %}

