<!DOCTYPE html>
<!-- Developed By: Ana Arribasplata
     Date:  2/20/2015
     UMass Lowell, GUI II
  -->

<link rel="stylesheet" href="bootstrap.vertical-tabs.css">

{% extends "polls/base.html" %}

<!-- This block of content will be inserted into base.html. -->
{% block content %}
<div class="jumbotron">
  <h1>Select a Topic</h1>
  
  <div class="row">
    <div class="col-xs-6 col-sm-3">    
      <ul class="nav nav-pills nav-stacked">    
	<li><a href="#tab_a" data-toggle="tab">Home</a></li>
	<li><a href="#tab_b" data-toggle="tab">Profile</a></li>
	<li><a href="#tab_c" data-toggle="tab">Messages</a></li>
      </ul>
    </div>
    <div class="col-xs-6 col-sm-9"> 
	 <div class="tab-content">
	   <div class="tab-pane fade active" id="tab_a">
	     <h1>jewrjewiojrioewjrioew</h1>
	     <p>jjfdeijeiojfeiojwioejfiojewmiofjieo</p>
	   </div>
	   <div class="tab-pane fade" id="tab_b">
	     <h1>jewrjewiojrioewjrioew</h1>
	     <p>jjfdeijeiojfeiojwioejfiojewmiofjieo</p>
	   </div>
	   <div class="tab-pane fade" id="tab_c">
	     <h1>jewrjewiojrioewjrioew</h1>
	     <p>jjfdeijeiojfeiojwioejfiojewmiofjieo</p>
	   </div>
	 </div>
  </div>
</div>
{% endblock %}
  
