<!DOCTYPE html>
<!-- Developed By: Virinchi Balabhadrapatruni
	 Date:  1/30/2015
	 UMass Lowell, GUI II
-->
<html>
<head>
<title>Poll Portal</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--  jQuery JS file -->
<script
	src="https://code.jquery.com/jquery-2.1.3.min.js"
	type="text/javascript"></script>

<!--  Highcharts JS files -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/4.0.4/highcharts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/4.0.4/modules/exporting.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- Latest compiled and minified JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<!-- Loads css files from polls/static/polls folder (It's a django thing)-->
<!-- https://docs.djangoproject.com/en/1.7/howto/static-files/ -->
{% load staticfiles %}
<link rel="stylesheet" href={%static 'polls/css/poll.css' %}>
<link rel="stylesheet" href={%static 'polls/css/logo.css' %}>

<script>
	$(document).ready(function() {
		var retina = window.devicePixelRatio > 1;
		var img = document.createElement('img');

		if (retina) {
			img.setAttribute('src', "{% static 'polls/img/logo-PP@2x.png' %}");
		} else {
			img.setAttribute('src', "{% static 'polls/img/logo-PP.png' %}");
		}
		$('#logo-link').append($(img));

	});
</script>
<!--  Load the pie chart using highcharts -->
<script>

	function SecondIndexOf(Val, Str) {
		var Fst = Str.indexOf(Val);
		var Snd = Str.indexOf(Val, Fst + 1)
		return Snd
	}
	$(function() {
		var options = {
			chart : {
				plotBackgroundColor : null,
				plotBorderWidth : null,
				plotShadow : false
			},
			title : {
				text : null
			},
			tooltip : {
				pointFormat : '{point.percentage:.1f}%'
			},
			exporting : {
				enabled : false
			},
			plotOptions : {
				pie : {
					allowPointSelect : true,
					cursor : 'pointer',
					dataLabels : {
						enabled : false
					}
				},
				series : {
					point : {
						events : {
							click : function() {
								// prepare the div for viewing first

								if ($(document).find($('#comments')).length == 0) {
									var newel = document.createElement('div');
									newel.setAttribute('id', 'comments');
									var list = document.createElement('div');
									list.setAttribute('id', 'comment-list');
									newel.appendChild(list);
									document.getElementById('customcontrol')
											.appendChild(newel);

								}

								if (this.selected) {
									if ($('#comments').is(":visible")) {
										$('#comments').hide('slow', function() {
											$('#comments').remove();
										});
									}
								} else {
									if ($('#comments').is(":visible")) {
										$('#comments').hide('slow', function() {
											$('#comments').remove();
										});
										var newel = document
												.createElement('div');
										newel.setAttribute('id', 'comments');
										var list = document
												.createElement('div');
										list.setAttribute('id', 'comment-list');
										newel.appendChild(list);
										document
												.getElementById('customcontrol')
												.appendChild(newel);
									}
								}
							}
						}
					}
				}
			},
			series : [ {} ]
		};
		var req_url = document.location.origin;
		req_url = req_url + "/get_chart/";
		var current = document.location.pathname
		current = current.substring(1);
		while (current.indexOf('/') != 0) {
			current = current.substring(1);
		}
		current = current.substring(1);
		current = current.substring(0, current.indexOf('/'));
		req_url = req_url + current;
		$.getJSON(req_url, function(data) {
			console.log('Got data');
			options.title.text = data['question']['question_text'];
			options.series[0].type = 'pie';
			options.series[0].data = data['data'];
			$('#myChart').highcharts(options);
		});

	});
</script>
</head>
<body>
	<div class="container-fluid">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a id='logo-link' class="navbar-brand" href="/"></a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse"
					id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a href="/topic_select/">Categories</a></li>
						<li><a href="/about/">About</a></li>
						<li><a href="/contact/">Contact Us</a></li>
					</ul>
					<!--  right side of navbar -->
					<ul class="nav navbar-nav navbar-right">
						{% if user.is_authenticated %}
						<li><a href="/myAccount"> <span
								class="glyphicon glyphicon-user"></span> {{ user.username }}
						</a></li>
						<li><a href="/logout"> <span
								class="glyphicon glyphicon-log-out"></span> Log Out
						</a></li> {% else %}
						<li><a href="/register"> <span
								class="glyphicon glyphicon-user"></span> Sign Up
						</a></li>
						<li><a href="/login"> <span
								class="glyphicon glyphicon-log-in"></span> Log In
						</a></li> {% endif %}
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>
		<center>
			<div id="customcontrol">
				<div id="control">
					<div id="form">
						<button id="btnVote" class="btn btn-default" data-toggle="modal"
							data-target="#myModal">Vote Now!</button>
					</div>
					<div id="myChart" style="width: 500px;; height: 500px;"></div>

				</div>
				<div id="comments">
					<div id="comment-list"></div>
				</div>
			</div>
		</center>
	</div>
	<!-- Modal Dialog for voting-->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">Vote Now!</h4>
				</div>
				<div class="modal-body">
					<form action="" role="form">
						<div class="radio">
							<label><input type="radio" name="pizza">Pizza</label>
						</div>
						<div class="radio">
							<label><input type="radio" name="lasagna">Lasagna</label>
						</div>
						<div class="radio">
							<label><input type="radio" name="noodles">Noodles</label>
						</div>
						<div class="radio">
							<label><input type="radio" name="friedrice">Fried
								Rice</label>
						</div>
						<div class="radio">
							<label><input type="radio" name="pasta">Pasta</label>
						</div>
						<div class="radio">
							<label><input type="radio" name="other">Other</label>
						</div>
						<div class="ck">
							Write a comment:<br>
							<textarea class="form-control" name="editor1" id="editor1"
								rows="5" cols="50"></textarea>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" data-dismiss="modal">Vote!</button>
				</div>
			</div>
		</div>
	</div>

</body>
</html>
