/*
  Bottom-sheet Style page. 
*/
/* Poll Portal icon */
#poll-sheet .md-list-item-content md-icon {
  height: 48px;
  width: 48px; 
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 10px;
}
/* Share button */
#share-top {
    margin-top: 5px;
}
