#form #btnVote {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

body {
    padding-bottom: 10px;
}
#myChart {
    margin-left: auto;
    margin-right: auto;
}
#a, #topics {
    width: 300px;
}

#comments {
    margin-top: 10px;
}

label {
  margin-left: 10px;
}

label[for=mycomment] {
    margin-top: 10px;
}

.carousel-indicators li {
  border-color: black;
  background: none;
}
.carousel-indicators .active {
  background-color: black;
}

.col-sm-6 {
    height: 300px;
    margin-bottom: 20px;
}

.col-sm-6 img {
    height: 200px;
}


input[type=text], input[type=password], input[type=email], input[type=number], textarea {
    margin-left: 5px;
    width: 300px;
}

h1 {
    margin-bottom: 10px;
}

table tr:nth-child(2n+1) {
    background: #CCC;
}

table tr td, th{
    padding: 10px;
}

table tr th {
    border-right: 2px solid black;
}
table tr td {
    border-left: 2px solid black;
}

.change {
    border-left: 0;
    border-right: 0;
}

/* custom inclusion of right, left and below tabs
This CSS is from the following site: http://www.bootply.com/74926 */

.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tabs-left {
    margin-bottom: 40px;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd;
}

.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
  border-top-color: #ddd;
  border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color: transparent #ddd #ddd #ddd;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}

.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;
}

.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
  border-color: #ddd #ddd #ddd transparent;
  *border-left-color: #ffffff;
}

/* Ana adding categories css */

.nav-stacked{
    width:150px;
}

.nav-stacked:hover{
    color: red;
/*#6D6E70;*/
}
.tab-content{
    width: 100px; 
}
