<!DOCTYPE html>
<!-- Developed By: Virinchi Balabhadrapatruni
     Date:  2/10/2015
     UMass Lowell, GUI II

     This is the conact page. 

  -->


{% extends "polls/base.html" %}

<!-- This block of content will be inserted into base.html. -->
{% block content %}
<!-- Navigation Bar.-->
<div class="jumbotron">
  <h1>Contact Us</h1>
  <p>To send us a message fill out the below form.</p>
  <div id="form-main">
    <div id="form-div">
      <!-- Contact Us Form -->
      <form class="contact_form" id="form1" method="post" action="/contact/"> {% csrf_token %}
	<!-- Name -->
	<p class="name">
	  <input name="name" type="text"
		 class="validate[required,custom[onlyLetter],length[0,100]] feedback-input"
		 placeholder="Name" id="name" />
	</p>
	
	<!-- Email -->
	<p class="email">
	  <input name="email" type="text"
		 class="validate[required,custom[email]] feedback-input"
		 id="email" placeholder="Email" />
	</p>
	
	<!-- Message to Us -->
	<div id="textarea">
	  <textarea name="comment" id="comment" rows="10" cols="80">
       	  </textarea>
	  <script>
            // Replace the <textarea id="editor1"> with a CKEditor
              // instance, using default configuration.
              CKEDITOR.replace( 'comment' );
              CKEDITOR.config.enterMode = CKEDITOR.ENTER_DIV;
          </script>
	</div>
	<!-- Submit button -->
	<div class="submit">
	  <md-button class="md-raised md-primary" type="submit">Submit</md-button>
	  <div class="ease"></div>
	</div>
      </form>
    </div>
    
  </div>
</div>
{% endblock %}
