<!DOCTYPE html>
<!-- Developed By: Virinchi Balabhadrapatruni
	 Date:  2/10/2015
	 UMass Lowell, GUI II
-->

{% extends "polls/base.html" %} {% block content %}

<div class="jumbotron">
	<h1>My Account</h1>
	<div class="row">
		<!-- tabs left -->
		<div class="col-xs-6 col-sm-3">
			<ul class="nav nav-pills nav-stacked">
				<li><a href="#a" data-toggle="tab">My Polls</a></li>
				<li class="active"><a href="#b" data-toggle="tab">My
						Account</a></li>
			</ul>
		</div>
		<div class="col-xs-6 col-sm-9">
			<div class="tab-content">
				<div id="a" class="tab-pane fade">
					<form id="createFrm" method="LINK" action="/create_poll/">
						<input type="submit" value="Create New Poll">
					</form>
					<table id="topics">
						<tr>
							<th>Poll</th>
							<th>Date created</th>
							<th class="change">Actions</th>
						</tr>
						{% for p in polls %}
						<tr>
							<td class="change"><a href="/{{ p.category.id }}/{{ p.id }}">{{ p.poll_text }}</a></td>
							<td>{{ p.pub_date }}</td>
							<td>
								<div class="dropdown">
									<button class="btn btn-default dropdown-toggle" type="button"
										id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
										Actions <span class="caret"></span>
									</button>
									<ul class="dropdown-menu" role="menu"
										aria-labelledby="dropdownMenu1">
										<li role="presentation"><a role="menuitem" tabindex="-1"
											href="/myAccount/freeze_voting/{{p.id}}">Freeze Voting</a></li>
										<li role="presentation"><a role="menuitem" tabindex="-1"
											href='/myAccount/delete_poll/{{p.id}}'>Delete Poll</a></li>
										<li role="presentation"><a role="menuitem" tabindex="-1"
											href="#">Generate PDF Summary (IN BETA)</a></li>
									</ul>
								</div>
							</td>
						</tr>
						{% endfor %}
					</table>
				</div>
				<div class="tab-pane fade active in" id="b">
					<table>
						<tr>
							<th>Name:</th>
							<td>{{ user.get_full_name }}</td>
							<td class="change"></td>

						</tr>
						<tr>
							<th>Username:</th>
							<td>{{ user.username }}</td>
							<td class="change"></td>

						</tr>
						<tr>
							<th>Email Address:</th>
							<td>{{ user.email }}</td>
							<td class="change"></td>

						</tr>
						<tr>
							<th>Password:</th>
							<td>&#x25CF;&#x25CF;&#x25CF;&#x25CF;&#x25CF;&#x25CF;&#x25CF;</td>
							<td class="change">
								<form method="LINK" action="/myAccount/password_change/">
									<input type="submit" value="Change Password">
								</form>
							</td>
						</tr>
						<tr>
							<th>Date Joined:</th>
							<td>{{ user.date_joined }}</td>
							<td class="change"></td>

						</tr>
					</table>

				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
