{% extends "polls/base.html" %}

{% block content %}
<!-- This is the password reset page -->
<div class="jumbotron">
  <h1>Reset Password</h1>
  <p>Please specify your email address to receive instructions for resetting it.</p>
  <!-- Form password -->
  <form action="/password_reset/" method="post">
    {% csrf_token %}
    {% if form.errors %}
    <!-- Error message -->
    <p class="errornote">
      Please correct the error or errors below.
    </p>
    {% endif %}
    {% for field in form %}
    <!-- Enter text -->
    <div class="form-group">
      <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
      <input type="text" class="form-control"
             name="{{ field.name }}"
             id="id_{{ field.name }}"
             placeholder="Enter {{ field.label }}" >
    </div>
    {% endfor %}
    <!-- Submit button -->
    <div class="submit-row">
      <md-button class="md-raised md-primary" type="submit">Reset Password</md-button>
    </div>
    
    <script type="text/javascript">document.getElementById("id_email").focus();</script>
  </form>
</div>
{% endblock %}
