{% extends "polls/base.html" %}
{% load static %}

{% block title %}Change Password{% endblock %}

{% block content %}<div id="content-main" class="jumbotron">

<form action="/myAccount/password_change/" method="post">{% csrf_token %}
<div>
{% if form.errors %}
    <p class="errornote">
    Please correct the error or errors below.
    </p>
{% endif %}

<h1>Change Password</h1>

<p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>

{% for field in form %}
<div class="form-group">
    <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
    <input type="password" class="form-control"
        name="{{ field.name }}"
        id="id_{{ field.name }}"
        placeholder="Enter {{ field.label }}" >
 </div>
{% endfor %}

<div class="submit-row">
    <md-button class="md-raised md-primary" type="submit">Change My Password</md-button>
</div>

<script type="text/javascript">document.getElementById("id_old_password").focus();</script>
</div>
</form></div>

{% endblock %}