{% extends "polls/base.html" %}

{% block content %}
    <div class="jumbotron">
    {% if validlink %}
    	<h1>Select New Password</h1>
        <p>Please enter your new password twice.<br />
           So we can verify you typed it in correctly.</p>
        <form action="" method="post">
            {% csrf_token %}
    		{% if form.errors %}
    			<p class="errornote">
    				Please correct the error or errors below.
    			</p>
			{% endif %}
    		{% for field in form %}
				<div class="form-group">
    				<label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
    				<input type="password" class="form-control"
        				name="{{ field.name }}"
       					id="id_{{ field.name }}"
        				placeholder="Enter {{ field.label }}" >
 				</div>
			{% endfor %}

			<div class="submit-row">
    			<md-button class="md-raised md-primary" type="submit">Reset Password</md-button>
			</div>

			<script type="text/javascript">document.getElementById("id_new_password1").focus();</script>
        </form>
    {% else %}
        <h1>Password reset unsuccessful</h1>
        <p>The password reset link was invalid, <br />
        possibly because it has already been used. <br />
        Please request a new password reset.</p>
    {% endif %}
    </div>
{% endblock %}