{% extends "polls/base.html" %}

{% block title %}Create an account{% endblock %}

{% block scripts %}
<!-- scripts go here that you want to be inserted into base.html -->
{% endblock %}

{% block content %}

<div class="jumbotron">


    <!-- This our regististration form.-->
    <form class="form-horizontal" method="POST" action="/register/">
    {% csrf_token %}
    
    {% for field in form %}
    	<div>
    		{{ field.errors }}
    	</div>
    {% if field.name == "password1" or field.name == "password2" %}
    	<div class="form-group">
			<label class="col-xs-6 col-sm-3 control-label">{{ field.label }}:</label>
			<div class="col-sm-4">
				<input type="password" class="form-control" id="{{ field.name }}"
					placeholder="{{ field.label }}" required>
			</div>
		</div>
	{% else %}
		<div class="form-group">
			<label class="col-xs-6 col-sm-3 control-label">{{ field.label }}:</label>
			<div class="col-sm-4">
				<input type="text" class="form-control" id="{{ field.name }}"
					placeholder="{{ field.label }}" required>
			</div>
		</div>
	{% endif %}
    {% endfor %}
    
    <!--- Need help and button -->
    <div class="form-group">
      <a href="#" class="col-xs-6 col-sm-3 need-help text-right">Need help? </a>
      <div class="col-xs-6 col-sm-4">
	      <button class="btn btn-lg btn-primary btn-block" type="submit" value="register"> Create User</button>
        <input type="hidden" name="next" value="Register" />
        <span class="clearfix"></span>
      </div>
    </div>

  </form>
  </form>
</div>



{% endblock %}
