{% extends "registration/base.html" %}

{% block title %}Create an account{% endblock %}

{% block scripts %}
	<!-- scripts go here that you want to be inserted into base.html -->
{% endblock %}

{% block content %}

  <h1>Create an account</h1>

  <form action="" method="post"> {% csrf_token %}
  <!--     {{ form.as_p }}
      <input type="submit" value="Create the account"> -->


    <div class="col-xs-6 col-md-4">
      <div class="account-wall">
        <form class="form-signin">
          <input type="text" class="form-control" id="username" name="username"placeholder="Username" required autofocus>
          <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
          <input type="password" class="form-control" id="password-confirmation" name="confirmation" placeholder="Password Confirmation" required>
          <button class="btn btn-lg btn-primary btn-block" type="submit"> Sign in</button>

          <input type="hidden" name="next" value="/" />

          <label class="checkbox pull-left">
          <input type="checkbox" value="remember-me">Remember me</label>
          <a href="#" class="pull-right need-help">Need help? </a>
          <span class="clearfix"></span>
        </form>
      </div>
      <a href="#" class="text-center new-account">Create an account </a>
    </div>

  </form>

{% endblock %}