<!DOCTYPE html>
<!-- Developed By: Virinchi Balabhadrapatruni
	 Date:  3/7/2015
	 UMass Lowell, GUI II
-->

{% extends "polls/base.html" %} {% block content %}

<div class="jumbotron">
	<h1>Edit Profile:</h1>
	<hr>
	<div id="editPic">
		<h2>Upload New Profile Picture</h2>
		<form action="/user/{{ user.id }}/upload_pic/" method="post"
		enctype="multipart/form-data">
			{% csrf_token %}
			<p>
				<input id="id_image" type="file" class="" name="image">
			</p>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
	<hr>
	<div id="editInfo">
		<h2>Edit Profile</h2>
		<form action="/user/edit/{{ user.id }}/" method="post">
			{% csrf_token %}
			{% for field in form %}
			<div id="textarea_{{ field.name }}">
				<p>{{ field.label }}:</p>
				<textarea name="{{ field.name }}" id="editor_{{ field.name }}" rows="10" cols="80"></textarea>
				<script>
					// Replace the <textarea id="editor1"> with a CKEditor
					// instance, using default configuration.
					CKEDITOR.replace('editor_{{ field.name }}');
					CKEDITOR.config.enterMode = CKEDITOR.ENTER_DIV;
				</script>
			</div>
			<br>
			{% endfor %}
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
	
</div>
{% endblock %}
